body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #0A91AB;
    font-size: 30px;
}
#codigo{
    display: flex;
    justify-content: space-around;
}
.digitNumeroAleatori{
    width: 80px;
    height: 80px;
    margin: 30px;
    border: 3px;
    padding: 45px;
    border-radius: 6%;
    background-color:#0A91AB;
    text-align: center;
}
#comproba{
    width: 600px;
    height: 150px;
    margin: 10px;
    border: 3px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 2%;
    border-color:#0A91AB;
    color: #0A91AB;
}
#contingutComproba{
    background-color: white;
    border: 0px;
}
hr{
    border: 1px solid #0A91AB;
}
#button{
    width: 600px;
    height: 30px;
    background-color: #FFC045;
    color: white;
}
#info{
    width: 600px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 3%;    
    background-color: red;
    text-align: center;
    color: white;
}

#resultat{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.digitResultat{
    width: 100px;
    height: 100px;
    margin: 30px;
    border: 3px;
    padding: 45px;
    border-radius: 6%;
    background-color: gray;
    text-align: center;
}
