body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color:blue;
    font-size: 30px;
}
.estructura{
    display: flex;
    justify-content: space-around;
}
.digit{
    width: 80px;
    height: 80px;
    margin: 30px;
    border: 3px;
    padding: 45px;
    border-radius: 6%;
    background-color:#0A91AB;
    text-align: center;
}
#comproba{
    width: 80%;
    height: 300px;
    border: 3px;
    border-style: solid;
    border-radius: 2%;
    border-color:#0A91AB;
}
hr{
    border: 1px solid #0A91AB;
}
.digitResultat{
    width: 80px;
    height: 80px;
    margin: 30px;
    border: 3px;
    padding: 45px;
    border-radius: 6%;
    background-color: gray;
    text-align: center;
}
